.videoRecommendations{

    overflow:auto;
    height: 30em;    
}

.commentBox{

    overflow: auto;
    height: 50em;
}


.new-parent{

    display: grid;
    grid-auto-flow: row;
    gap:5em;
    overflow: auto;
    padding:0;
    z-index:1000;

}