.videoRecommendations{
    /* border:2px solid white; */
    overflow:auto;
    /* height:40em; */
    height: 30em;
    /* z-index:1000; */
    
}

.commentBox{
    /* height:40em; */
    overflow: auto;
    /* z-index:1000; */
    /* border:2px solid red; */
    height: 50em;
}


.new-parent{
    /* border:2px solid green; */
    display: grid;
    grid-auto-flow: row;
    gap:5em;
    /* width:25em; */
    overflow: auto;
    padding:0;
    z-index:1000;

}